// New Naratif brand colors
$link-color: #E85D75;
$btn-primary-color: #E85D75;
$sidebar-color: #f5f6fa;
$body-background-color: #ffffff;
$body-heading-color: #27262b;
$nav-child-link-color: #555;
$search-background-color: #fff;
$table-background-color: #fff;
$feedback-color: darken($sidebar-color, 3%);
